* {
  box-sizing: border-box;
}

:focus {
 /* TODO */
}

body {
  background: linear-gradient(90deg, red, rgb(205, 0, 205));
  display: flex;
  justify-content: center;
  height: 100vh;
}

input {
 /* TODO */
}

.search-container {
  width: 600px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.suggestions ul {
  padding: 0px 10px;
  margin-top: 0;
  
}

.suggestions {
  /* TODO */
  margin-top: 0;
  max-height: 400px;
  overflow-y: scroll;
  width: 300px;
}

.suggestions ul li {
  list-style: none;
  padding: 10px 10px;
  width: 200px;
  margin-top: 0;
}
.result:hover {
  background-color: aliceblue;
  font-weight: 700;
  font-size: larger;
  border-radius: 5px;
}

input {
   border-radius: 5px;
   height: 30px;
   width: 300px;
}

