* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
}

h1{
  font-size: 4rem;
  margin-bottom: 0;
  background-image: linear-gradient(90deg, rgb(255, 251, 1), aqua);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body {
  background: linear-gradient(90deg, red, rgb(205, 0, 205));
}

.search-container {
  width: 600px;
  background: white;
  margin: 50px auto 200px auto;
  border-radius: 5px;
}

.top-row{
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

input{
  flex: 1;
  height: 50px;
  background: transparent;
  border: 0;
  outline: 0;
  font-size: 18px;
  color: black;
}

::placeholder{
  color: slategray;
}


.suggestions ul {
  padding: 15px 10px;
  border-top: 1px solid black;
  max-height: 275px;
  overflow-y:scroll;  
}


.suggestions ul li {
  list-style: none;
  border-radius: 3px;
  padding: 15px 10px;
  cursor: pointer;
}

.result:hover {
  background: pink;
  font-weight: 700;
  font-size: larger;
  border-radius: 5px;
}

@media (max-width: 650px){
  .search-container {
    width: 390px;
  }
  h1{
    font-size: 2.5rem;
    padding-top: 35px;
  }
}

@media (max-width: 401px){
  .search-container {
    width: 300px;
  }
}